/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
nav {
    float: left;
    width: 20%;
}

nav li{
    list-style: none;
    padding: 5px;
    border: 1px solid red;
}

li a {
    text-decoration: none;
}

header {
    float: left;
    width: 50%;
}

.header-img {
    width: 100%;
    height: auto;
}

aside {
    float: right;
    width: 30%;
}

footer {
    clear: both;
}

footer div {
    float: left;
    width: 33%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
