/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
nav {
    float: left;
    width: 10%;
}

h2, h3 {
    margin: 0;
    margin-bottom: 10px;
    border: 1px solid red;
}

li{
    list-style: none;
    padding: 5px;
    border: 1px solid red;
}

a {
    text-decoration: none;
}

main {
    float: left;
    width: 50%;
}

.main-img {
    width: 100%;
    height: auto;
}

aside {
    float: left;
    width: 30%;
}

footer {
    clear: both;
}

footer .section1 {
    float: left;
    width: 10%;
}

footer .section2 {
    float: right;
    width: 90%;
}

footer .section2 div {
    float: left;
    width: 90%;
}

footer .section3 {
    float: left;
    width: 10%;
}

footer .section4 {
    float: right;
    width: 90%;
}

footer div {
    float: left;
    width: 30%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
