body {
    width: 700px;
    background: skyblue;
    color: white;
    border: 5px solid limegreen;
    margin: 30px;
}

header {
    font-family: 'Tiro Devanagari Sanskrit', serif;
    text-align: center;
}

nav {
    text-align: center;
}

nav, h2 {
    font-family: 'Open Sans', sans-serif;
}

nav li {
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;
    color: limegreen;
}

.about-us {
    color: white;
}

span {
    color: gray;
}

section {
    margin-left: 60px;
    margin-right: 60px;
}

img {
    width: 200px;
    float: right;
    margin: 0 0 2em 2em;
}